h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5;
}

p {
    color: #8b8b8b;
}

/*NAVBAR*/
.logo {
    margin-top: 12px;
    font-size: 30px;
    font-style: italic;
}

/*BANNER*/
#root {
    background-color: rgba(199, 194, 194, 0.822);
    ;
}

#banner {
    background-color: black;
    color: #ffffff;
    padding: 100px 0 70px 0;
}

#banner img {
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
.tituloBanner{
    margin-top: 50px;
}
.btn-banner {
    margin: 8% 3% 5% 0;
}

/*FEATURES*/
#features {
    padding: 3% 5%;
}

.feature-box {
    text-align: center;
    padding: 5%;
    background-color: black;
}

.icon {
    color: rgb(238, 234, 228);
    margin-bottom: 15px;
}

.Titulo {
    color: #ffffff;
}

/*IMAGENS CLEINTES*/
#testemunho {
    background-color: black;
    color: rgba(199, 194, 194, 0.74);
    padding: 7% 15%;
    text-align: center;
}

#testemunho img {
    width: 10%;
    margin: 10px;
}

/* FOOTER */
#footer {
    padding: 3% 15%;
    text-align: center;
    background-color: rgba(199, 194, 194, 0.74);
    color: #8b8b8b;
}

.fa {
    color: rgb(161, 0, 54);
}

.livraria {
    color: rgb(161, 0, 54);
}
